.app-container {
  /* background-image: url("https://i.imgur.com/qJrgPBm.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  /* background-color: black; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-flow: column wrap; */
  /* font-weight: bold; */
  text-align: left;
  /* height: 100vh; */
  width:100%;
  /* padding:20; */
}

/* .header-container { */
  /* position: sticky; */
  /* top: 0; */
  /* width: 100vw; */
  /* flex: 1; */
  /* justify-content: flex-start;  */
  /* height: 100px;  */
  /* background-color: lightgreen; */
/* } */

.main-body{
  /* background-image: url("https://i.imgur.com/qJrgPBm.jpg"); */
  background-color: #c5d5cb;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  /* flex: 8; */
  /* overflow: auto; */
  /* background: tomato; */
}


.footer{
  font-family: 'Alegreya', serif;
  display: flex;
  flex: 1;
  /* margin-top: 5rem; */
  /* padding: 1rem; */
  background-color: #9fa8a3;
   position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%;
} 


.product-suggestion-form {
  
  height: 50%;
  padding: 1px 10px 1px 10px;
  margin: 150px 10px 100px 10px;
  background-color: #9fa8a3;
  font-family: 'Alegreya', serif;
  color: #e3e0cf;
  font-weight: 900;
  /* background-image: url("https://i.imgur.com/qJrgPBm.jpg"); */
  display: flex;
  flex-direction: column; 
  /* justify-content: center; */
  display: flex;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
  


.product-suggestion-form form {
  border: 1px solid #dedede;
  min-width: 500px;

  /* display: flex; */
   /* flex-direction: column; */
   justify-content: space-around;
}

input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 2px;
  margin-left: 4px;
}

.submit-button {
  background-color: #c5d5cb;
   align-content: center;
   font-family: sans-serif;
   font-size: 14px;
   margin: 20px 0px;
   width: 100px;

}
/* color: white; */





 