.App {
  text-align: center;
}

/* My CSS */
.nav a {
  /* background-color: red; */
  color: rgb(29, 116, 48);
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover {
  background-color: #555;
}

.nav a:active {
  background-color: black;
}

.nav a:visited {
  background-color: #ccc;
}



.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* z-index: 1000; */

}

/* My CSS */
.image-wrapper {
  /* width: 50%;  */
  margin: auto;
  
  
  
}

.image-wrapper img {
  display: block;
  width: 200px;
  height: 200px;
  /* display: block;
  width: 100%;
  max-width: 500px; actual image width
  height: auto; /* maintain aspect ratio
  margin: auto; /*optional centering of image*/
  border-radius: 50%; 
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
