.nav-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: lightgray;
  /* justify-content: space-around; */
  flex-direction: row;
  padding: 1rem; 
  /* flex-flow: nowrap; */
  /* flex-wrap: nowrap; */
  /* justify-content: center; */
  /* margin: 0 auto; */
} 

.nav-image-holder {
  /* display: inline-flex;*/
  /* flex: 1;  */
  /* flex-grow: 1; */
  width: 33%;
  /* background: #e2f0ef; */
  border: 1px solid white;
    color: gray;
  /* float: left; */

} 

.nav-middle {
  /* flex: 3;  */
  /* display: inline-flex;*/
  width: 33%;
  /* flex-grow: 1; */
  /* height: 100%; */
  /* background: #e2f0ef; */
  border: 1px solid white;
    color: gray;
  /* overflow: auto;   */

}

.nav-links {
  display: inline-flex;
  /* flex: 1 */
  /* flex-grow: 1; */ 
  width: 33%;
  /* background: #e2f0ef; */
    border: 1px solid white;
    color: black;
  /* float: right; */

}

.nav-links Link{
  align: right;
} 
.nav-links a:hover {
  background-color: #555;
}

.nav-links a:active {
  background-color: black;
}

.nav-links a:visited {
  background-color: #ccc;
}  