/*//////////////////////////
//  Product Card Styling 
//////////////////////////*/

.card {
  border: 1px solid black;
  /*height: 300px;*/
  margin-top: 180px;
  width: 300px; /*width: 180px;*/
  float: left;
  background-color: gray;
  margin-left: 32px;
  border-radius: 10px; 
 }
 
 .card-body {
   margin-top: 16px;
   width: 220px; /*100px;*/
   padding-right: 20px;
   margin-right: 20px;
   padding-left: 20px;
   background-color: white;
   font-family: 'Roboto';
  }

  .products {
    text-align: center;
  }

 
  /* .text {
    overflow: hidden;
  } */